DJANGO_DEBUG=True
SECRET_KEY=secret
REDIS_HOST=redis
DB_HOST=mysql
DB_PORT=3306
DB_NAME=alliance_auth
DB_USER=allianceserver
DB_PASSWORD=password
ESI_CLIENT_ID=
ESI_SECRET_KEY=
ESI_USER_CONTACT_EMAIL=
SITE_URL=http://localhost:8000
EMAIL_HOST=mailcatcher
EMAIL_PORT=1025
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=webmaster@ncservices.local

MYSQL_ROOT_PASSWORD: root
MYSQL_DATABASE: alliance_auth
MYSQL_USER: allianceserver
MYSQL_PASSWORD: password

PMA_HOST=mysql
PMA_USER=root
PMA_PASSWORD=root
PMA_PORT=3306
